<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <application
        android:name=".PersonalMemoryApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Personal Memory AI"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalMemoryAI">
        <activity android:name=".ui.EvidenceRelationshipsActivity" android:exported="false" />
        <activity android:name=".ui.SubjectTimelineActivity" android:exported="false" />
        <activity android:name=".ui.InvestigationActivity" android:exported="false" />
        <activity android:name=".ui.EvidenceSearchActivity" android:exported="false" />
        <activity android:name=".ui.OcrEvidenceActivity" android:exported="false" />
        <activity android:name=".ui.ObjectIntelligenceActivity" android:exported="false" />
        <activity android:name=".ui.DiagnosticsActivity" android:exported="false" />
        <activity android:name=".ui.DataCenterActivity" android:exported="false" />
        <activity android:name=".ui.ReverseImageSearchActivity" android:exported="false" />
        <activity android:name=".ui.AdvancedVisualIntelligenceActivity" android:exported="false" />
        <activity android:name=".ui.BulkImagePickerActivity" android:exported="false" />
        <activity android:name=".ui.ImageViewerActivity" android:exported="false" />
        <activity android:name=".ui.FaceSearchActivity" android:exported="false" />
        <activity android:name=".ui.PeopleIntelligenceActivity" android:exported="false" />
        <activity android:name=".ui.PersonProfileActivity" android:exported="false" />
        <activity android:name=".ui.ImageIntelligenceActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge"
            android:exported="false" />
        <activity android:name=".IntelligenceHomeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
